.keyboard
  display: grid
  grid-template-columns: repeat(5, 1fr)
  justify-content: center
  height: 100%
  grid-gap: 0.2rem

.keyboard-special
  display: grid
  grid-template-columns: 1fr
  grid-gap: 0.2rem
  justify-content: center
  height: 100%

.back
  grid-row: 1 / span 2

.zero
  grid-row: 3

.twenty-five
  grid-row: 4

.fifty
  grid-row: 5

.special
  grid-column: 5

.bottom
  display: grid
  grid-template-columns: repeat(2, 1fr)
  grid-gap: 0.2rem
  grid-row: 6
  grid-column: span 5

.key
  display: flex
  justify-content: center
  align-items: center
  //min-width: 4rem
  //min-height: 4rem
  cursor: pointer
  background-color: #9a8d95



